<div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:firebrick;margin-bottom:0px">
        <img style="width:30px;height:30px;" src="~/Images/logo.png" />
        <a style="font-size:30px;font-weight:bold;color:white" class="navbar-brand" href="#">Global Bus Seva</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" style="font-size:20px;font-weight:bold">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li style="font-size:15px" class="nav-item active">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li style="font-size:15px" class="nav-item active">
                    <a class="nav-link" href="#">Terms of Use</a>
                </li>
                <li style="font-size:15px" class="nav-item active">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right" style="color:white;float:right">
                <li style="margin: 10px; font-size: 15px"><a style="color:white" href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li style="margin: 10px; font-size: 15px"><a style="color:white" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li style="margin: 10px; font-size: 15px"><a style="color:white" href="@Url.Action("AdminHome","AdminUI")"><span class="glyphicon glyphicon-log-in"></span> Admin Login</a></li>
            </ul>
        </div>
    </nav>
    <form style="border:1px solid black;width:30%;height:30%;margin-left:34%;margin-top:10%;padding:20px;background-color:blanchedalmond;font-size:15px;" method="post">
        <h1 style="text-align:center;color:crimson">Welcome to Admin Login</h1>
        <br />
        <label>Enter Admin User Name</label>
        <br />
        <input type="text" name="username" placeholder="User Name" />
        <br />
        <label>Enter Password</label>
        <br />
        <input type="text" name="pass" placeholder="Password" />
        <br />
        <br />
        <input type="submit" style="background-color:darkred;color:white" />
    </form>
</div>