@using(Html.BeginForm())
{
    <h1>Bus Reservation System</h1>
    <br />
    <br />
    @Html.ActionLink("Login","Login","AuthUserUI")
    @Html.ActionLink("Register", "Register", "UserReg")
    <br />
    <table>
        <tr>
            <td>From</td>
            <td>@Html.TextBox("from")</td>
        </tr>
        <tr>
            <td>To</td>
            <td>@Html.TextBox("to")</td>
        </tr>
        <tr>
            <td>Journey Date</td>
            <td><input type="date" name="jrnyDate" /></td>
        </tr>
        <tr>
            <td><input type="submit" /></td>
        </tr>
    </table>

}